// Color Variables
$primary: #333;
$secondary: #666;

$yellow-100: #f8cb0c;
$yellow-highlight: #edff00;
$pink-100: #f39fc5;
$green-100: #41b353;
$orange-100: #f14118;
$blue-100: #2007ea;
$red-100: #ff0505;

$background: #ffffff;

$text-primary: #333;

$success: #4caf50;
$error: #f44336;
$warning: #ff9800;
$info: #2196f3;
